@import compass/css3
@import compass/reset
@import compass/utilities
@import compass/typography

=placeholder($color)
  &.placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &::-webkit-input-placeholder
    color: $color

html, body
  background: #e9e4e0
  position: relative
  overflow: hidden

#sidebar
  width: 15vw
  height: 100vh
  min-width: 210px
  background: #292420
  float: left
  border-right: 1px solid #12100e
  position: relative
  +box-shadow(inset -3px 0px 3px #211d1b)

  header h1
    +hide-text
    background:
      image: url('../img/logo.svg')
      repeat: no-repeat
      position: 50% 50%
      size: 93%
    height: 100px
    cursor: pointer

  form.name_form, #chat > form
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 90%
    margin: 0 auto
    margin-bottom: 15px

    input
      +placeholder(darken(#c6ac98, 45%))
      color: #ffaa6c
      background: #1A1715
      padding: 2px
      font-size: 1.1em
      border: 0
      outline: 0
      width: 100%
      +box-shadow(inset 0px 0px 3px darken(#292420, 5%))
      +box-sizing(border-box)
      &[type="submit"]
        width: 100%
        color: #fff
        +box-shadow(inset 0px 0px 3px darken(#9b5527, 10%))
        background: #9b5527

  div#chat
    position: absolute
    bottom: 0
    left: 0
    right: 0
    ul
      position: absolute
      bottom: 77px
      left: 0
      right: 0
      height: 30vh
      min-height: 200px
      width: 90%
      padding: 7px
      line-height: 1.2
      margin: 0 auto
      color: #ccc
      overflow: auto
      +box-sizing(border-box)
      background: #1A1715
      +box-shadow(inset 0px 0px 3px darken(#292420, 5%))
    li
      padding: 2px 0 2px 0
    span.user
      color: lighten(#ffaa6c, 13%)
    span.user:after
      content: " > "

  ul.groups
    +box-sizing(border-box)
    margin: 0 auto
    &> li
      display: block
      width: 100%
      padding: 12px
      cursor: pointer
      +box-sizing(border-box)
      h2
        font-size: 1.5em
        padding: 0 0 10px 0
        color: #ddd
      ul
        +horizontal-list-container
      li
        +horizontal-list-item
        color: #e3752c
      li:not(:last-child):after
        content: ','
      &:hover
        background: darken(#292420, 4%)

  #{nest("&>", headings(1,3))}
    width: 40%
    font-size: 1.3em
    font-family: Arial
    padding: 17px
    float: left
    color: #fff

main
  float: right
  height: 100vh
  position: relative
  +experimental-value(max-width, calc(100vw - 211px))
  +experimental-value(width, calc(85vw - 1px))

  canvas
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 100%

  #welcome
    width: 35%
    color: #eee
    background: #292420
    border: 1px solid #12100e
    padding: 30px
    position: absolute
    top: 50%
    left: 50%
    z-index: 2
    line-height: 1.2
    h1
      font-size: 2em
      margin-bottom: 20px
    p
      margin-top: 15px
      font-size: 1em
    form
      margin-top: 40px
      input
        +experimental-value(width, calc(100% - 10px))
        +placeholder(darken(#c6ac98, 45%))
        color: #ffaa6c
        background: #1A1715
        padding: 5px
        font-size: 1.3em
        border: 0
        outline: 0
        &[type="submit"]
          width: 100%
          color: #fff
          background: #9b5527
    +box-shadow(inset 0px 0px 5px darken(#211d1b, 5%))
    +translate(-50%, -50%)



// Browser specific
::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-track
  background: lighten(#292420, 10%)

::-webkit-scrollbar-thumb
  background: darken(#292420, 10%)

