<template id="welcome">
  <div id='welcome'>
    <h1>Hallo!</h1>
    <p>Möchtest du zusammen mit anderen Sound machen dann bist u hier richtig: Denn MachZound macht Sound :)</p>
    <p>Links kannst du eine bestehende Gruppe beitreten. Wenn du eine eigene Gruppe erstellen willst musst du einfach nur einen unbenutzen Gruppennamen unten im Feld eingeben</p>
    <p>Hab Spaß und mach Sound!</p>

    <form id="group_form">
      <input type="text" placeholder="Gruppennamen" name="group_name" id="group_name">
      <input type="submit" value="Erstellen">
    </form>
  </div>
</template>

<template id="group_entry">
  <!-- group_entry -->
  <li data-name="default"><h2 class="name"></h2>

    <ul class="users">
    </ul>
  </li>
</template>

<template id="user_entry">
  <!-- user_entry -->
  <li class="user_name"></li>
</template>

<template id="name_form">
  <form class="name_form">
      <input type="text" placeholder="Nutzername" name="username" id="username">
      <input type="submit" value="Auswählen">
  </form>
</template>

<template id="chat">
  <div id="chat">
    <ul id="messages">
    </ul>
    <form>
        <input type="text" placeholder="Nachricht" name="message" id="message_input">
        <input type="submit" value="Senden">
    </form>
  </div>
</template>

<template id="message">
  <li>
    <span class="user"></span>
    <span class="msg_content"></span>
  </li>
</template>
